<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3125&q=80);">
  <div class="container">
    <h1>List your<strong>all movies</strong> with <strong>MyMovies</strong>!</h1>
    <p>Your movie organizer</p>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-between align-item-center my-5">
    <h2>My lists</h2>
  </div>
  <div class="cards">
    <% @lists.each do |list| %>
          <%= link_to list_path(list) do %>
            <div class="card-category"
                 style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                 url( <% if @list.photo.attached? %>
                        <%= cl_image_path list.photo.key %>
                      <% end %>
                   )">
              <%= list.name %>
            </div>
          <% end %>
    <% end %>
  </div>


  <div>
    <h1>add a new list</h1>

    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
